openapi: 3.1.0
info:
  title: Brave Search API
  description: >-
    The Brave Search API provides programmatic access to Brave's independent
    search index covering web, news, image, video, suggest, spellcheck,
    summarizer, and local POI endpoints. Requests authenticate via the
    X-Subscription-Token header issued through the Brave Search API dashboard.
  version: "1.0"
  contact:
    name: Brave Search API
    url: https://api-dashboard.search.brave.com/app/documentation
servers:
  - url: https://api.search.brave.com/res/v1
    description: Production API
security:
  - SubscriptionToken: []
paths:
  /web/search:
    get:
      summary: Web search
      description: Query Brave's web search index.
      operationId: webSearch
      tags:
        - Web
      parameters:
        - { name: q, in: query, required: true, schema: { type: string }, description: Search query }
        - { name: count, in: query, schema: { type: integer, default: 20, maximum: 20 } }
        - { name: offset, in: query, schema: { type: integer, default: 0, maximum: 9 } }
        - { name: country, in: query, schema: { type: string }, description: Two-character country code }
        - { name: search_lang, in: query, schema: { type: string }, description: ISO 639-1 language code }
        - { name: ui_lang, in: query, schema: { type: string } }
        - { name: safesearch, in: query, schema: { type: string, enum: [off, moderate, strict], default: moderate } }
        - { name: freshness, in: query, schema: { type: string }, description: "pd, pw, pm, py or custom range" }
        - { name: extra_snippets, in: query, schema: { type: boolean } }
        - { name: text_decorations, in: query, schema: { type: boolean } }
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebSearchResponse" }
  /news/search:
    get:
      summary: News search
      operationId: newsSearch
      tags: [News]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: count, in: query, schema: { type: integer, default: 20, maximum: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
        - { name: country, in: query, schema: { type: string } }
        - { name: search_lang, in: query, schema: { type: string } }
        - { name: freshness, in: query, schema: { type: string } }
        - { name: safesearch, in: query, schema: { type: string, enum: [off, moderate, strict] } }
      responses:
        "200":
          description: News results
          content:
            application/json: { schema: { type: object } }
  /images/search:
    get:
      summary: Image search
      operationId: imageSearch
      tags: [Images]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: count, in: query, schema: { type: integer, default: 50, maximum: 100 } }
        - { name: country, in: query, schema: { type: string } }
        - { name: search_lang, in: query, schema: { type: string } }
        - { name: safesearch, in: query, schema: { type: string, enum: [off, strict] } }
      responses:
        "200":
          description: Image results
          content:
            application/json: { schema: { type: object } }
  /videos/search:
    get:
      summary: Video search
      operationId: videoSearch
      tags: [Videos]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: count, in: query, schema: { type: integer, default: 20, maximum: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
        - { name: country, in: query, schema: { type: string } }
        - { name: search_lang, in: query, schema: { type: string } }
        - { name: ui_lang, in: query, schema: { type: string } }
        - { name: safesearch, in: query, schema: { type: string, enum: [off, moderate, strict] } }
        - { name: freshness, in: query, schema: { type: string } }
      responses:
        "200":
          description: Video results
          content:
            application/json: { schema: { type: object } }
  /suggest/search:
    get:
      summary: Suggestion API
      operationId: suggestSearch
      tags: [Suggest]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: country, in: query, schema: { type: string } }
        - { name: count, in: query, schema: { type: integer, default: 5, maximum: 20 } }
      responses:
        "200":
          description: Suggestions
          content:
            application/json: { schema: { type: object } }
  /spellcheck/search:
    get:
      summary: Spellcheck API
      operationId: spellcheck
      tags: [Spellcheck]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: country, in: query, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string } }
      responses:
        "200":
          description: Spellcheck suggestions
          content:
            application/json: { schema: { type: object } }
  /summarizer/search:
    get:
      summary: Summarizer API
      description: Retrieve AI-generated summary for a query returning a summarizer key from web search.
      operationId: summarizer
      tags: [Summarizer]
      parameters:
        - { name: key, in: query, required: true, schema: { type: string }, description: Summarizer key returned from /web/search }
        - { name: entity_info, in: query, schema: { type: boolean } }
      responses:
        "200":
          description: Summary
          content:
            application/json: { schema: { type: object } }
  /local/pois:
    get:
      summary: Local POI search
      description: Retrieve local point-of-interest details by IDs (up to 20).
      operationId: localPois
      tags: [Local]
      parameters:
        - { name: ids, in: query, required: true, schema: { type: array, items: { type: string }, maxItems: 20 }, style: form, explode: true }
        - { name: search_lang, in: query, schema: { type: string } }
        - { name: ui_lang, in: query, schema: { type: string } }
      responses:
        "200":
          description: POI details
          content:
            application/json: { schema: { type: object } }
  /local/descriptions:
    get:
      summary: Local descriptions
      description: AI-generated descriptions for local POIs by IDs.
      operationId: localDescriptions
      tags: [Local]
      parameters:
        - { name: ids, in: query, required: true, schema: { type: array, items: { type: string }, maxItems: 20 }, style: form, explode: true }
        - { name: search_lang, in: query, schema: { type: string } }
      responses:
        "200":
          description: Descriptions
          content:
            application/json: { schema: { type: object } }
components:
  securitySchemes:
    SubscriptionToken:
      type: apiKey
      in: header
      name: X-Subscription-Token
  schemas:
    WebSearchResponse:
      type: object
      properties:
        query:
          type: object
          properties:
            original: { type: string }
            more_results_available: { type: boolean }
        web:
          type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  title: { type: string }
                  url: { type: string, format: uri }
                  description: { type: string }
                  age: { type: string }
                  extra_snippets:
                    type: array
                    items: { type: string }
        mixed: { type: object }
        infobox: { type: object }
        news: { type: object }
        videos: { type: object }
        type: { type: string }
